<h1>各種設定</h1>
<h3>エクセルファイルの出力</h3>
<%= form_tag(export_kintais_path(:format => :xls),:method => "PATCH",:class => "form-horizontal" ) do %>
  <div class ="form-group">
    <div class ="pull-left date-select">
      <%=
        sprintf((
        select_date @target_date_min << 1,
        {:use_month_numbers => true,
        :discard_day => true,
        :date_separator => '%s'},
        { :class => "" }
        ).html_safe,'年').html_safe
      %>
      月分
    </div>
    <div class="pull-left">
      <%= submit_tag '全社員エクセル出力',:class => "btn btn-primary date-btn" %>
    </div>
  </div>
<% end %>
