<p>Hello <%= @resource.email %>!</p>

<p>以下のページにアクセスして、パスワードを変更して下さい。</p>

<p><%= link_to 'パスワード変更フォーム', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>このメールに覚えが無い場合は、無視してください。</p>
<p>リンク先のページで新しいパスワードを設定しない限り、あなたのパスワードは変更されません。</p>
