<p>Hello <%= @resource.email %>!</p>

<p>あなたのアカウントは、ログインに規定回数失敗したためロックされています。</p>

<p>下記URLにアクセスして、ロックを解除して下さい。</p>

<p><%= link_to 'アカウントロックの解除', unlock_url(@resource, :unlock_token => @token) %></p>
